@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(imagens/pexels-natali-railean-1141163-2232180.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    width: 420px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(30px);
}

.container h1 {
    font-size: 40px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 30px 0;
}

.input-box > input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box > input::placeholder {
    color: rgba(255, 255, 255, .2);
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    font-size: 20px;
}

.lembrar-senha {
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 15px;
}

.lembrar-senha label input {
    accent-color: white;
    margin-right: 5px;
}

.lembrar-senha a {
    text-decoration: none;
    color: white;
}

.lembrar-senha a:hover {
    text-decoration: underline;
}

.botao {
    width: 100%;
    height: 50%;
    padding: 20px 0px;
    border-radius: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.712);
    font-size: 20px;
    cursor: pointer;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.botao:hover {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
}

.link-registrar {
    text-align: center;
    margin-top: 20px;
}

.link-registrar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.link-registrar a:hover {
    text-decoration: underline;
}